<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.medmemory"
    android:versionCode="1"
    android:versionName="1.0" >
    
    <uses-permission android:name="android.permission.VIBRATE" />
    

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="21" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/memory_med_logo_v2"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="Reminders" android:parentActivityName=".MainActivity"></activity>
        <activity android:name="About" android:parentActivityName=".MainActivity"></activity>
        <activity android:name="Doctor" android:parentActivityName=".MainActivity"></activity>
        <activity android:name="History" android:parentActivityName=".MainActivity"></activity>
        <activity android:name="Meds" android:parentActivityName=".MainActivity"></activity>
        <activity android:name="Pharm" android:parentActivityName=".MainActivity"></activity>
        <activity android:name="Refills" android:parentActivityName=".MainActivity"></activity>
        <activity android:name="Settings" android:parentActivityName=".MainActivity"></activity>
        <activity android:name="AddMedication" android:parentActivityName=".Meds"></activity>
        
        <service android:name="NotifyService"></service>
        <service android:name="TakeMedNowService"></service>
        <service android:name="SnoozeService"></service>
        
    </application>

</manifest>
